include ../partials/header

section.form-wrapper
    div.form-display
        form(action="/login" method="POST").form-container
            div.form-control
                h2 Login
            - if(hasErrors) {
                div.form-control
                    h3 #{messages}
            - }
            div.form-control
                input(type="text" name="username" placeholder="username" required)
            div.form-control
                input(type="password" name="password" placeholder="password" required)
            div.form-control
                button Submit
