include ../partials/header

section.form-wrapper
    div.form-display
        form(action="/register" method="POST").form-container
            div.form-control
                h2 Register
            div.form-control
                input(type="text" name="username" placeholder="Username" required)
            div.form-control
                input(type="email" name="email" placeholder="Email" required)
            div.form-control
                input(type="password" name="password" placeholder="Password" required)
            div.form-control
                button Submit
