section.form-wrapper
    div.form-display
        form(action="/register" method="POST").form-container
            div.form-control
                h2 Register
            div.form-control
                input(type="text" name="username" required)
            div.form-control
                input(type="email" name="email" required)
            div.form-control
                input(type="password" name="password" required)
            div.form-control
                button Submit
